<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.github.poetrycoding.springframework.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:important.properties"/>
    </bean>

    <bean id="studentDAO" class="com.github.poetrycoding.springframework.test.dao.StudentDAO"/>

    <bean id="studentService" class="com.github.poetrycoding.springframework.test.service.StudentService">
        <property name="name" value="${system.key}"/>
    </bean>


</beans>